/vendor/
/node_modules/
/public/build/
/public/storage/
bootstrap/cache/*
!bootstrap/cache/.gitkeep
/storage/*.key
/storage/**/*.cache
/storage/**/*.log
storage/framework/cache/*
!storage/framework/cache/data
storage/framework/cache/data/*
!storage/framework/cache/data/.gitkeep

storage/framework/sessions/*
!storage/framework/sessions/.gitkeep

storage/framework/views/*
!storage/framework/views/.gitkeep

storage/logs/*
!storage/logs/.gitkeep
.env
.env.backup
.env.*.local
.env.production
.env.testing

.phpunit.result.cache
composer.phar
vendor

.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

.htaccess
/public/.htaccess

npm-debug.log
yarn-error.log
