/vendor/
/node_modules/
/public/build/
/public/storage/
/bootstrap/cache/*.php
/storage/*.key
/storage/**/*.cache
/storage/**/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*

.env
.env.backup
.env.*.local
.env.production
.env.testing

.phpunit.result.cache
composer.phar
vendor

.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

.htaccess
/public/.htaccess

npm-debug.log
yarn-error.log
